input{
    width: 80%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1rem;
}

.label > div{
    display: flex;
}

.label > div > input{
    flex: 1; /* Respeita o tamanho das elementos dentro da div, bem como posso mudar as suas proporções (shreg, bases, etc)*/
}
#cadastro-registro{
    display: none;
    flex-direction: column;
    gap: 30px;
}

#lista-registro{ 
    display: none; 
}

body[page=lista] #lista-registro{  /* quando page for igual a lista*/
    display: block;
}

body[page=cadastro] #cadastro-registro{  /* quando page for igual a cadastro*/
    display: block;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table{
    width: 80%;
    border-collapse: collapse;
}

table th, table td{
    padding: 10px 15px;
    border: 1px solid grey;
}

button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: blue;
    color: white;
    margin: 3px;
    padding: 10px 15px;
}

button:hover{
    opacity: 0.8;
}

button.cinza{
    background-color: gray;
    color: whitesmoke;
}

/*\
|1| Notes:
|2| "Sugar, there's the reason why we lose"
|3| (tum, ts, tu-tum, ts, tum, tum, ts, tu-tum, tum)
\*/